//
   Created by x on 14-7-30.
extends ../layout
block css
    link(rel='stylesheet', href='//static.jspass.com/static/css/reset.css')
block content
    课程列表

block js
    script(src='//static.jspass.com/static/js/apps/course/list.js')